<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>解答</title>
</head>
<body>
	<h1>確認度テストですよ</h1>
	<p>JAVA</p>
	<table border="1">
		<tr>
		  <th>答え</th>
		  <th>解答</th>
		</tr>
		<tr th:each="obj,stat : ${data_java}">
		  <td th:text="${obj.answer}"></td>
		  <td th:text="${post_java[stat.index]}"></td>
		 </tr>
	</table>
		
	<p>PHP</p>
	<table border="1">
		<tr>
		  <th>答え</th>
		  <th>解答</th>
		</tr>
		<tr th:each="obj,stat : ${data_php}">
		  <td th:text="${obj.answer}"></td>
		  <td th:text="${post_php[stat.index]}"></td>
		</tr>

	</table>
		
	<p>SQL</p>
	<table border="1">
		<tr>
		 <th>答え</th>
		 <th>解答</th>
		</tr>
		<tr th:each="obj : ${data_sql}">
		  <td th:text="${obj.answer}"></td>
		</tr>
	</table>
</body>
</html>