<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>オープラン理解度確認テスト</title>
		 <link th:href="@{/css/question.css}" rel="stylesheet">
	</head>
	<body>
	<div class="container">
		<h1>確認度テスト</h1>
		<p>問題文を読み、以下の４つの選択肢から当てはまる回答を１つ選んで選択しなさい。</p>
		<p>全ての問題に回答出来たら、最下部の送信ボタンで回答を送信しなさい。</p>
		<p>JAVA</p>
		<table border="1">
		  <tr>
		    <th>ID</th><th>問題</th><th>選択肢1</th><th>選択肢2</th><th>選択肢3</th><th>選択肢4</th><th>答え</th><th>ジャンル</th>
		  </tr>
		  <tr th:each="obj : ${data_java}">
		    <td th:text="${obj.id}"></td>
		    <td th:text="${obj.problem}"></td>
		   	<td th:text="${obj.select_1}"></td>
		   	<td th:text="${obj.select_2}"></td>
		   	<td th:text="${obj.select_3}"></td>
		   	<td th:text="${obj.select_4}"></td>
		   	<td th:text="${obj.answer}"></td>
		   	<td th:text="${obj.type}"></td>
		  </tr>
		</table>
		
		<p>PHP</p>
		<table border="1">
		  <tr>
		    <th>ID</th><th>問題</th><th>選択肢1</th><th>選択肢2</th><th>選択肢3</th><th>選択肢4</th><th>答え</th><th>ジャンル</th>
		  </tr>
		  <tr th:each="obj : ${data_php}">
		    <td th:text="${obj.id}"></td>
		    <td th:text="${obj.problem}"></td>
		   	<td th:text="${obj.select_1}"></td>
		   	<td th:text="${obj.select_2}"></td>
		   	<td th:text="${obj.select_3}"></td>
		   	<td th:text="${obj.select_4}"></td>
		   	<td th:text="${obj.answer}"></td>
		   	<td th:text="${obj.type}"></td>
		  </tr>
		</table>
		<p>SQL</p>
		<table border="1">
		  <tr>
		    <th>ID</th><th>問題</th><th>選択肢1</th><th>選択肢2</th><th>選択肢3</th><th>選択肢4</th><th>答え</th><th>ジャンル</th>
		  </tr>
		  <tr th:each="obj : ${data_sql}">
		    <td th:text="${obj.id}"></td>
		    <td th:text="${obj.problem}"></td>
		   	<td th:text="${obj.select_1}"></td>
		   	<td th:text="${obj.select_2}"></td>
		   	<td th:text="${obj.select_3}"></td>
		   	<td th:text="${obj.select_4}"></td>
		   	<td th:text="${obj.answer}"></td>
		   	<td th:text="${obj.type}"></td>
		   	
		  </tr>
		</table>
		<form name="question_form" action="/answer" th:object="${answerForm}" method="post">
		<h2>PHP</h2>
		<div th:each="obj,stat : ${data_php}">

			<h4 th:text="${obj.problem}"></h4>
			<p><input type="radio" th:name="|selectPHP[${stat.index}]|" th:value=${obj.select_1} th:text=${obj.select_1} class="question-select"></p>
			<p><input type="radio" th:name="|selectPHP[${stat.index}]|" th:value=${obj.select_2} th:text=${obj.select_2} class="question-select"></p>
			<p><input type="radio" th:name="|selectPHP[${stat.index}]|" th:value=${obj.select_3} th:text=${obj.select_3} class="question-select"></p>
			<p><input type="radio" th:name="|selectPHP[${stat.index}]|" th:value=${obj.select_4} th:text=${obj.select_4} class="question-select"></p>
		
		</div>
		<h2>Java</h2>
		<div th:each="obj,stat : ${data_java}">

			<h4 th:text="${obj.problem}"></h4>
			<p><input type="radio" th:name="|selectJava[${stat.index}]|" th:value=${obj.select_1} th:text=${obj.select_1} class="question-select"></p>
			<p><input type="radio" th:name="|selectJava[${stat.index}]|" th:value=${obj.select_2} th:text=${obj.select_2} class="question-select"></p>
			<p><input type="radio" th:name="|selectJava[${stat.index}]|" th:value=${obj.select_3} th:text=${obj.select_3} class="question-select"></p>
			<p><input type="radio" th:name="|selectJava[${stat.index}]|" th:value=${obj.select_4} th:text=${obj.select_4} class="question-select"></p>
		</div>
		<input type="submit" value="回答を送信する" class="submit-button">
		</form>
	</div>
	</body>
</html>